%h1 Icon Bar Help

%table{ :border => "0", :cellpadding => "5", :width => "480px", :style => "width: 480px" }
  %tr
    %td{ :width => "40px" }= image_tag("off/html.gif", :height => "30", :alt => "help", :width => "40")
    %td{ :width => "50%" } This icon takes you to a HTML page of information on your chosen topic.

    %td{ :width => "40px" }= image_tag("off/vidsee.gif", :height => "30", :alt => "video", :width => "40")
    %td{ :width => "50%" } This icon takes you to a theory (green) or procedural (red) video.

  %tr
    %td= image_tag("off/kc.gif", :height => "30", :alt => "knowledge check", :width => "40")
    %td This icon takes you to a knowledge check. A quiz to test your understanding of the previous video.

    %td= image_tag("off/dvom.gif", :height => "30", :alt => "dvom", :width => "40")
    %td This icon takes you to a DVOM simulator, a safe and easy way to learn how to use a DVOM.

  %tr
    %td= image_tag("off/ws.gif", :height => "30", :alt => "worksheet", :width => "40")
    %td This icon opens a workshop activity sheet, step by step instructions to be taken into the workshop.

    %td= image_tag("off/ac.gif", :height => "30", :alt => "assessment checklist", :width => "40")
    %td This icon opens an assessment checklist, an easy way for the instructor to test the students competency.

  %tr
    %td= image_tag("off/ha.gif", :height => "30", :alt => "handout activity", :width => "40")
    %td This icon opens a handout activity. One for each topic, these activities assess the students understanding of the information learnt.
    %td &nbsp;
    %td &nbsp;
